CarRentalBPEL/retrieved/src/localhost_8080/HubService/HubService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="http://rentcar.hub.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://rentcar.hub.com/">

<xs:element name="addRegistry" type="tns:addRegistry"/>

<xs:element name="addRegistryResponse" type="tns:addRegistryResponse"/>

<xs:element name="getRegistry" type="tns:getRegistry"/>

<xs:element name="getRegistryResponse" type="tns:getRegistryResponse"/>

<xs:element name="getRentalProviders" type="tns:getRentalProviders"/>

<xs:element name="getRentalProvidersResponse" type="tns:getRentalProvidersResponse"/>

<xs:complexType name="getRegistry">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRegistryResponse">
<xs:sequence>
<xs:element name="return" type="tns:carRentLog" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carRentLog">
<xs:sequence>
<xs:element name="bookedDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="providerUUID" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRentalProviders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRentalProvidersResponse">
<xs:sequence>
<xs:element name="return" type="tns:rentalProvider" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalProvider">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRegistry">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="providerUUID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRegistryResponse">
<xs:sequence>
<xs:element name="return" type="tns:carRentLog" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>