CarRentalBPEL/src/localhost_8080/KutzCarRentalWS/KutzCarRentalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS.KutzCarRental/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS.KutzCarRental/" name="KutzCarRentalWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS.KutzCarRental/" schemaLocation="http://localhost:8080/KutzCarRentalWS/KutzCarRentalWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getReservations">
<part name="parameters" element="tns:getReservations"/>
</message>
<message name="getReservationsResponse">
<part name="parameters" element="tns:getReservationsResponse"/>
</message>
<message name="createReservation">
<part name="parameters" element="tns:createReservation"/>
</message>
<message name="createReservationResponse">
<part name="parameters" element="tns:createReservationResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="getCars">
<part name="parameters" element="tns:getCars"/>
</message>
<message name="getCarsResponse">
<part name="parameters" element="tns:getCarsResponse"/>
</message>
<portType name="KutzCarRentalWS">
<operation name="getReservations">
<input wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/getReservationsRequest" message="tns:getReservations"/>
<output wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/getReservationsResponse" message="tns:getReservationsResponse"/>
</operation>
<operation name="createReservation">
<input wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/createReservationRequest" message="tns:createReservation"/>
<output wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/createReservationResponse" message="tns:createReservationResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/createReservation/Fault/ParseException"/>
</operation>
<operation name="getCars">
<input wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/getCarsRequest" message="tns:getCars"/>
<output wsam:Action="http://WS.KutzCarRental/KutzCarRentalWS/getCarsResponse" message="tns:getCarsResponse"/>
</operation>
</portType>
<binding name="KutzCarRentalWSPortBinding" type="tns:KutzCarRentalWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KutzCarRentalWS">
<port name="KutzCarRentalWSPort" binding="tns:KutzCarRentalWSPortBinding">
<soap:address location="http://localhost:8080/KutzCarRentalWS/KutzCarRentalWS"/>
</port>
</service>
</definitions>