CarRentalAPP/src/META-INF/wsdl/localhost_8080/KutzCarRentalWS/KutzCarRentalWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="http://WS.KutzCarRental/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS.KutzCarRental/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="createReservation" type="tns:createReservation"/>

<xs:element name="createReservationResponse" type="tns:createReservationResponse"/>

<xs:element name="findCarById" type="tns:findCarById"/>

<xs:element name="findCarByIdResponse" type="tns:findCarByIdResponse"/>

<xs:element name="getCars" type="tns:getCars"/>

<xs:element name="getCarsResponse" type="tns:getCarsResponse"/>

<xs:element name="getReservations" type="tns:getReservations"/>

<xs:element name="getReservationsResponse" type="tns:getReservationsResponse"/>

<xs:complexType name="createReservation">
<xs:sequence>
<xs:element name="rentalDate" type="xs:string" minOccurs="0"/>
<xs:element name="returnDate" type="xs:string" minOccurs="0"/>
<xs:element name="idCar" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="idCar" type="xs:int"/>
<xs:element name="idReservation" type="xs:int"/>
<xs:element name="rentalDate" type="xs:string" minOccurs="0"/>
<xs:element name="returnDate" type="xs:string" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCarById">
<xs:sequence>
<xs:element name="idCar" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCarByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="brand" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="isAvailable" type="xs:boolean"/>
<xs:element name="numberBaggage" type="xs:int"/>
<xs:element name="numberPeople" type="xs:int"/>
<xs:element name="pricePerDay" type="xs:double"/>
<xs:element name="transmission" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCars">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarsResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>