CarRentalBPEL/src/localhost_8080/HubService/HubService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rentcar.hub.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rentcar.hub.com/" name="HubService">
<types>
<xsd:schema>
<xsd:import namespace="http://rentcar.hub.com/" schemaLocation="http://localhost:8080/HubService/HubService?xsd=1"/>
</xsd:schema>
</types>
<message name="getRentalProviders">
<part name="parameters" element="tns:getRentalProviders"/>
</message>
<message name="getRentalProvidersResponse">
<part name="parameters" element="tns:getRentalProvidersResponse"/>
</message>
<message name="getRegistry">
<part name="parameters" element="tns:getRegistry"/>
</message>
<message name="getRegistryResponse">
<part name="parameters" element="tns:getRegistryResponse"/>
</message>
<message name="addRegistry">
<part name="parameters" element="tns:addRegistry"/>
</message>
<message name="addRegistryResponse">
<part name="parameters" element="tns:addRegistryResponse"/>
</message>
<portType name="HubService">
<operation name="getRentalProviders">
<input wsam:Action="http://rentcar.hub.com/HubService/getRentalProvidersRequest" message="tns:getRentalProviders"/>
<output wsam:Action="http://rentcar.hub.com/HubService/getRentalProvidersResponse" message="tns:getRentalProvidersResponse"/>
</operation>
<operation name="getRegistry">
<input wsam:Action="http://rentcar.hub.com/HubService/getRegistryRequest" message="tns:getRegistry"/>
<output wsam:Action="http://rentcar.hub.com/HubService/getRegistryResponse" message="tns:getRegistryResponse"/>
</operation>
<operation name="addRegistry">
<input wsam:Action="http://rentcar.hub.com/HubService/addRegistryRequest" message="tns:addRegistry"/>
<output wsam:Action="http://rentcar.hub.com/HubService/addRegistryResponse" message="tns:addRegistryResponse"/>
</operation>
</portType>
<binding name="HubServicePortBinding" type="tns:HubService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRentalProviders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegistry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRegistry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HubService">
<port name="HubServicePort" binding="tns:HubServicePortBinding">
<soap:address location="http://localhost:8080/HubService/HubService"/>
</port>
</service>
</definitions>