CarRentWebApp/CarRentWebApp/Service References/CarServiceReference/KutzCarRentalWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.KutzCarRental/" targetNamespace="http://WS.KutzCarRental/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="createReservation" type="tns:createReservation" />
  <xs:element name="createReservationResponse" type="tns:createReservationResponse" />
  <xs:element name="findCarById" type="tns:findCarById" />
  <xs:element name="findCarByIdResponse" type="tns:findCarByIdResponse" />
  <xs:element name="getCars" type="tns:getCars" />
  <xs:element name="getCarsResponse" type="tns:getCarsResponse" />
  <xs:element name="getReservation" type="tns:getReservation" />
  <xs:element name="getReservationResponse" type="tns:getReservationResponse" />
  <xs:element name="getReservations" type="tns:getReservations" />
  <xs:element name="getReservationsResponse" type="tns:getReservationsResponse" />
  <xs:complexType name="createReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="rentalDate" type="xs:string" />
      <xs:element minOccurs="0" name="returnDate" type="xs:string" />
      <xs:element name="idCar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservation">
    <xs:sequence>
      <xs:element name="idCar" type="xs:int" />
      <xs:element minOccurs="0" name="idReservation" type="xs:string" />
      <xs:element minOccurs="0" name="rentalDate" type="xs:string" />
      <xs:element minOccurs="0" name="returnDate" type="xs:string" />
      <xs:element name="totalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReservations">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getReservationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findCarById">
    <xs:sequence>
      <xs:element name="idCar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findCarByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="car">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="isAvailable" type="xs:boolean" />
      <xs:element name="numberBaggage" type="xs:int" />
      <xs:element name="numberPeople" type="xs:int" />
      <xs:element name="pricePerDay" type="xs:double" />
      <xs:element minOccurs="0" name="transmission" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCars">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCarsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>